.flex-container {
  display: flex;
  align-items: center;      /* Align items vertically */
  justify-content: center;  /* Center content horizontally */
  gap: 20px;                /* Space between items */
  padding: 20px;
  background-color: #c4c4c4;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 40px; /* space between items */
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  flex-wrap: wrap;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: orange;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33.33%;
  height: 33.33%; /* Take up 1/3 of the screen height */
}

.MasterTheBow {
  width: 33.33%; /* Each image takes up 1/3 of the width */
  display: flex;
  justify-content: center;
  align-items: right;
}

.TopLogo {
  width: 33.33%; /* Each image takes up 1/3 of the width */
  display: flex;
   margin-right: 2cm;
}

.TopLogo img {
  max-width: 500%;
  height: auto;
  
}

.MasterTheBow img {
  max-width: 200%;
  height: auto;
  object-fit: cover;
}

.SearchBar {
  width: 100%; /* The search bar takes up the remaining 1/3 of the width */
  height: auto;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 80%; /* Make the search bar smaller and centered */
  padding: 10px;
  font-size: 1rem;
  border-radius: 25px;
  border: 2px solid #ccc;

  /* place search icon inside the input on the right */
  background-image: url("../HTML/Images/SearchIcon.png");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 50px 50px;
  padding-right: 40px; /* make room for the icon */
}

.search-input:focus {
  outline: gray;
  border-color: #0057cc;
}

/* Search icon on the right side */
.search-icon {
  width: 20px; /* Icon size */
  height: 20px;
  cursor: pointer;
  color: blue; /* Blue color */
}

.search-icon:hover {
  opacity: 0.7; /* Slight hover effect */
}